description = "Подвал"
==
<!-- footer (start) -->
<footer>
  <div class="container">
    <div class="row">

      <!-- 1 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <h1>Продукция</h1>
        <ul>
          <li><a href="#">Пластинчатые теплообменники</a></li>
          <li><a href="#">Кожухотрубные теплообменники</a></li>
          <li><a href="#">Рекуператоры</a></li>
          <li><a href="#">Тепловая автоматика</a></li>
          <li><a href="#">Насосное оборудование</a></li>
        </ul>
      </div>

      <!-- 2 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <h1>Калькулятор</h1>
        <ul>
          <li><a href="#">Расчет теплообменного оборудования</a></li>
          <li><a href="#">Расчет насосного <br> оборудования</a></li>
        </ul>
      </div>

      <!-- 3 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <h1 class="text-right">Контакты</h1>
        <ul class="miniFooter">
          <li>
            <span>Адрес:</span> <br>
            <a href="#">г. Ростов-на-Дону, ул. Дачная 97/85</a>
          </li>
          <li>
            <span>Телефон:</span> <br>
            <a href="#">+7 (863) 206 72 34</a>
          </li>
          <li>
            <span>e-mail:</span> <br>
            <a href="#">info@ink-groupp.ru</a>
          </li>
        </ul>
      </div>

      <!-- 4 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <a href="{{ 'contact'|page }}">
         <img src="{{ 'assets/img/footerMap.png'|theme }}" alt="">
        </a>
      </div>


    </div> <!-- row -->
    <div class="row">
      <div class="col">
        <p class="text-center">(c) Все права защищены 2018 год. <a href="#">Политика конфиденциальности</a>.</p>   
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</footer>
<!-- footer (end) -->