description = "Простая форма"
==
<!-- formLast (start) -->
<div class="formAtEnd">
  <div class="container">
    <div class="row">
      <div class="col">
        <form action="" class="mainFormStyle">
          <h2>Заполните форму и мы вам перезвоним</h2>
          <div class="formGrid">
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Телефон">
            <input type="submit" value="Перезвоните мне">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- formLast (end) -->