description = "Сложная форма"
==
<!-- magicForm (start) -->
<div id="magicForm">

  <div class="titleBlock">
    <h1>Заполните форму для<br> расчета стоимости оборудования</h1>    
  </div>

  <form>

    <div class="container">
      <div class="row">
        <div class="col">

          <div class="magicFormContainer">
            <ul class="nav nav-tabs" id="magicFormTabs" role="tablist">
              <!-- 1 -->
              <li class="nav-item">
                <a class="nav-link active" id="magic1-tab" data-toggle="tab" href="#magic1" role="tab" aria-controls="magic1" aria-selected="true">
                  <span>1</span>
                  <p>Технические<br> данные</p>
                </a>
              </li>

              <!-- 2 -->
              <li class="nav-item">
                <a class="nav-link" id="magic2-tab" data-toggle="tab" href="#magic2" role="tab" aria-controls="magic2" aria-selected="false">
                  <span>2</span>
                  <p>Физические<br> свойства среды</p>
                </a>
              </li>

              <!-- 3 -->
              <li class="nav-item">
                <a class="nav-link" id="magic3-tab" data-toggle="tab" href="#magic3" role="tab" aria-controls="magic3" aria-selected="false">
                  <span>3</span>
                  <p>Контактная<br> информация</p>
                </a>
              </li>
            </ul> <!-- end! ul -->
          </div> <!-- mag container -->

        </div> <!-- col -->
      </div> <!-- row -->
    </div> <!-- container 1 -->


    <div class="magicFormBg">
      <div class="container">
        <div class="row">
          <div class="col">

            <div class="magicFormContainer">
              <div class="tab-content">
                <!-- 1 -->
                <div class="tab-pane active" id="magic1" role="tabpanel" aria-labelledby="magic1-tab">
                  <div class="magicFormList magicFormList1">

                    <!-- 1 -->
                    <input type="text" placeholder="Имя">
                    <select>
                      <option value="first">Варианты выбора</option>
                    </select>
                    <input type="range" min="0" max="100" step="1" value="50">
                    
                    <!-- 2 -->
                    <input type="text" placeholder="Параметр с конкретной мерой м2">
                    <p>
                      <input type="checkbox">
                      <input type="checkbox">
                      Выбор да/нет                      
                    </p>
                    <p>
                      <!-- space -->
                    </p>

                    <!-- 3 -->
                    <textarea rows="10" placeholder="Полее ввода длинного текста"></textarea>
                    <p>
                      Мнодественный выбор: <br>
                      <input type="checkbox"> Пункт1 <br>
                      <input type="checkbox"> Пункт2 <br>
                      <input type="checkbox"> Пункт3                      
                    </p>
                    <p><!-- space --></p>

                    <!-- 4 -->
                    <p><!-- space --></p>
                    <p><!-- space --></p>
                    <input type="submit" value="Расчитать">                                        

                  </div> <!-- list -->
                </div> <!-- end! magic -->

                <!-- 2 -->
                <div class="tab-pane" id="magic2" role="tabpanel" aria-labelledby="magic2-tab">
                  <div class="magicFormList magicFormList2">
                    magic list 2
                  </div> <!-- list -->
                </div> <!-- end! magic -->

                <!-- 3 -->
                <div class="tab-pane" id="magic3" role="tabpanel" aria-labelledby="magic3-tab">
                  <div class="magicFormList magicFormList3">
                    magic list 3                    
                  </div> <!-- list -->
                </div> <!-- end! magic -->
              </div> <!-- tab-content -->
            </div> <!-- mag container -->

          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container 2 -->
    </div> <!-- bg -->

  </form>
</div>
<!-- magicForm (end) -->