@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

// Myriad Pro = PT Sans

@font-face {
  font-family: 'BistroScript';
  src: url('../fonts/BistroScript.ttf');
}

@font-face {
  font-family: 'HelveticaNeueCyr400';
  src: url('../fonts/HelveticaNeueCyr-Thin.woff');
  font-weight: 400;
}

@font-face {
  font-family: 'HelveticaNeueCyr600';
  src: url('../fonts/HelveticaNeueCyr-Medium.woff');
  font-weight: 600;
}

@font-face {
  font-family: 'HelveticaNeueCyr700';
  src: url('../fonts/HelveticaNeueCyr-Bold.woff');
  font-weight: 700;
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/ProximaNova-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova ExBold';
	src: url('../fonts/ProximaNova-Extrabld.woff') format('woff');
}
///////////////////////////////////////////////////////////
// default by mioe
p, h1, h2, h3, h4, h5, h6 { // reset
  margin-bottom: 0;
}


a { // reset
  padding: 0;
  margin: 0;
  &:hover {
    text-decoration: none;
  }
}

ul { // reset
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

.ymaps-2-1-56-zoom, .gotoymaps__text, .ymaps-2-1-56-controls__control_toolbar, .ymaps-2-1-56-float-button .ymaps-2-1-56-_hidden-text{
  display: none !important;
}

.dontTouchMe {	// блокирует выделение текста
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
	user-select: none;
}
///////////////////////////////////////////////////////////
// UI form
.mainFormStyle {
  h1 {
    font-size: 30px;
    font-family: 'Proxima Nova Bold';
    color: rgb(18, 18, 22);
  }
  span {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(132, 132, 132);
    line-height: 1;
  }
  p {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(18, 18, 22);
    line-height: 1;
  }
  h2 {
    font-size: 18px;
	  font-family: 'Proxima Nova Bold';
    color: rgb(18, 18, 22);
  }
  input, textarea, select {
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.34);
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(79, 79, 78);
    line-height: 1.2;
    padding-left: 13px;
    padding-top: 9px;
    padding-bottom: 9px;
    &::placeholder {
      color: #000;
    }
  }
  input[type="text"] {
    border-right: #008dcf solid 8px;
  }
  input[type="submit"] {
    background: #008dcf;
    cursor: pointer;
    color: #fff;
  }
  textarea {
    border-bottom: #008dcf solid 8px;
  }
}
///////////////////////////////////////////////////////////




//button
.primaryBtn{
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 34px;
  text-align: center;
  background-color: rgb(0, 141, 207);
  display: block;
}
//main menu nav bar
.mainMenu{
  background-color: #fff;
  padding: 10px 0px;
  border-bottom: 2px solid #000;
  .nav-link{
    font-size: 21px;
    font-family: "Roboto";
    font-weight: 600;
    color: rgb(18, 18, 21) !important;
    line-height: 1.2;
    margin-right: 20px;
  }
  .active{
    a {
      color: #008dd2 !important;
    }
  }
  .navbar-brand{
    margin-right: 60px;
  }
}

.callUs {
  margin-left: 20px;
  h3 {
    font-size: 21.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(18, 18, 21);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5px;
  }
  a{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 34px;
    text-align: center;
    background-color: rgb(0, 141, 207);
    width: 190px;
    height: 34px;
    display: block;
  }
}
///////////////////////////////////////////////////////////////
//block postavshik
.postav{
  background-image: url('../img/1.png');
  background-position: center center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 50px;
  h2{
    font-size: 48px;
	  font-family: 'Proxima Nova ExBold';
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: right;

  }
  form{
    margin-top: 50px;
    input[type="text"]{
      background-color: rgb(255, 255, 255);
      width: 163px;
      height: 35px;
      border: none;
      font-size: 16px;
      font-family: "Roboto";
      text-align: center;
      color: rgb(112, 112, 112);
      line-height: 1.2;
      border-right: 6px solid #008dd2;
      margin-right: 6px;
      &::placeholder{
        color: rgb(10, 10, 10) !important;
      }
    }
    input[type="submit"]{
      border: none;
      display: inline;
    }
  }
}
//block postavshik end
///////////////////////////////////////////////////////////
//block our + start
.textAndSq{

    h3{
    font-size: 24px;
    font-family: 'Proxima Nova Bold';
    color: rgb(18, 18, 22);
    line-height: 1.2;
    position: absolute;
    margin-top: -50px;
    margin-left: 30px;

  }
  .square {
    margin-top: -50px;
    margin-left: -5px;
    border-width: 7px;
    border-color: rgb(0, 49, 74);
    border-style: solid;
    background-color: rgb(0, 144, 207);
    position: absolute;
    width: 25px;
    height: 25px;
  }
}
.arrows {
    padding-top: 100px;
    padding-bottom: 0px;
    background-image: url("../img/bg2.png");
    background-position: center center;
    background-repeat: no-repeat;

}

.ourPlus{
  background-image: url("../img/bg1.png");
  background-position: center center;
  background-size: cover;
  min-height: 500px;


  .bottomShadow{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 0;
    background: rgba(59, 59, 58, 0.9);
  }
  .littleImg{
    height: 210px;
    width: 220px;
    background-size: cover;
    position: relative;
    margin-left: 0px;
    margin: auto; // выровнять по центру только если блок relative
    margin-bottom: 100px;
  }
  .littleImg1 {background-image: url('../img/imgPlus1.png');}
  .littleImg2 {background-image: url('../img/imgPlus2.png');}
  .littleImg3 {background-image: url('../img/imgPlus3.png');}
  .littleImg4 {background-image: url('../img/imgPlus4.png'); margin-right: 50px;}
  .littleImg5 {background-image: url('../img/imgPlus5.png');margin-left: 50px;}

  h6{
  font-size: 22px;
  font-family: "Roboto";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
 }
}

//block our + end
///////////////////////////////////////////////////////////
//block imgStuff start
.imgsBlock{

  h3{

  font-size: 30px;
  font-family: 'Proxima Nova Bold';
  font-weight: 600;
  color: rgb(255, 255, 255);
  line-height: 1.2;

  }
  .imgStuff {
    padding-top: 10px;
    background-position: center center;
    background-size: cover;
    min-height: 180px;
  }
  .imgStuff1 { background-image:url('../img/img1.png'); }
  .imgStuff2 { background-image:url('../img/img2.png'); }
  .imgStuff3 { background-image:url('../img/img3.png'); }
  .imgStuff4 { background-image:url('../img/img4.png'); }
  .imgStuff5 { background-image:url('../img/img5.png'); }
  .imgStuff6 { background-image:url('../img/img6.png'); }
}

//block imgStuff end
///////////////////////////////////////////////////////////
//block service start
.service{
  background-color: #fff;
  .arrows{
    background-image: url("../img/serviceBg2.png");
  }
  .textAndSq{
    h3{
    margin-top: -30px;
    margin-left: 40px;

  }
  .square {
    margin-top: -30px;
    margin-left: 5px;

  }
  }
  .textAndSq2{
    margin-bottom: 228px;
   h3{
    font-size: 24px;
    font-family: 'Proxima Nova Bold';
    color: rgb(18, 18, 22);
    line-height: 1.2;
    position: absolute;
    margin-top: 133px;
    text-align: right;
    margin-left: 510px;

  }
  .square {
    margin-top: 135px;
    margin-left: 1080px;
    border-width: 7px;
    border-color: rgb(0, 49, 74);
    border-style: solid;
    background-color: rgb(0, 144, 207);
    position: absolute;
    width: 25px;
    height: 25px;
  }
  }
  h2{
    font-size: 22px;
    font-family: "Roboto";
    color: rgb(18, 18, 22);
    line-height: 1.4;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 70px;
 }

  .serviceImg{
    height: 210px;
    width: 220px;
    background-size: cover;
    position: relative;
    margin-left: 0px;
    margin: auto; // выровнять по центру только если блок relative
    margin-bottom: 30px;
    margin-top: 70px;

  }
  .serviceImg1{background-image: url("../img/service1.png");}
  .serviceImg2{background-image: url("../img/service2.png");}
  .serviceImg3{background-image: url("../img/service3.png");}
  a{
    margin-left: 400px;
    width: 300px;
  }
  .ourPartners{
    margin-bottom: 0px;
    a {
      margin: 0;
      width: auto;
    }
    img {
      width: 60%;
    }
  }
  .textAndSq3{
    margin-bottom: 120px;
   h3{
    font-size: 24px;
    font-family: 'Proxima Nova Bold';
    color: rgb(18, 18, 22);
    line-height: 1.2;
    position: absolute;
    margin-top: 30px;
    text-align: right;
    margin-left: 830px;

  }
  .square {
    margin-top: 33px;
    margin-left: 1080px;
    border-width: 7px;
    border-color: rgb(0, 49, 74);
    border-style: solid;
    background-color: rgb(0, 144, 207);
    position: absolute;
    width: 25px;
    height: 25px;
  }
}
}
//block servise end
///////////////////////////////////////////////////////////
//block with carousel
.carousBlock{
  background-image: url("../img/sliderBg.png");
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;

  .owl-next i, .owl-prev i {
    color: #fff;
    font-size: 28px;
  }
  .owl-prev {
    position: absolute;
    left: -40px;
    top: 80px;
  }
  .owl-next {
    position: absolute;
    right: -40px;
    top: 80px;
  }

}

//block onlyBtn
.btnOnly{
  width: 400px;
  position: relative;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;

}
// footer
footer {
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 2px solid #eee;

  h1 {
    font-size: 18px;
    font-family: "HelveticaNeueCyr700";
    color: rgb(36, 36, 36);
    font-weight: bold;
    line-height: 1.2;
  }

  ul {
    li {
      list-style: none;
      margin-top: 10px;
      &:first-of-type {
        margin-top: 20px;
      }
      a {
        font-size: 16px;
        font-family: "Roboto";
        color: rgb(111, 111, 111);
      }
    }
  }

  .miniFooter {
    li {
      text-align: right;
      span {
        font-size: 16px;
        font-family: 'PT Sans', sans-serif;
        color: rgb(132, 132, 132);
      }
      a {
        font-family: "HelveticaNeueCyr400";
        color: #000;
      }
    }
  }

  img {
    margin-top: 55px;
    width: 100%;
  }

  .text-center {
    margin-top: 20px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    color: rgb(121, 121, 121);
    line-height: 1.2;
    a {
      font-family: 'PT Sans', sans-serif;
      color: rgb(121, 121, 121);
      text-decoration: underline;
    }
  }

}
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
// page Contact
.blockBigContact {
  height: 600px;
  position: relative;
  .blockBigContactForm {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    position: absolute;
    // background: #fff;
    form {
      width: 540px;
      height: 460px;
      background: #fff;
      padding: 25px;
      h1 {
        margin-bottom: 20px;
      }
      p {
        margin-top: 2px;
        a {
          color: rgb(18, 18, 22);
        }
      }
      h2 {
        margin-top: 30px;
        margin-bottom: 10px;
      }
      .formGrid {
        width: 100%;
        display: grid;
        grid-template-columns: 165px 165px 1fr;
        grid-column-gap: 18px;
        grid-row-gap: 18px;
        grid-template-areas:
        ". . ."
        "textarea textarea select"
        "textarea textarea ."
        ;
      }
      select {
        grid-area: select;
      }
      textarea {
        grid-area: textarea;
        height: 115px;
      }
    }
  }
}
///////////////////////////////////////////////////////////
//page armour starts here
//block headerStuff
.headerStuff{
  background-image: url("../img/bg1armour.png");
  background-size: cover;
  border-bottom: 0.5px solid #000;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
  font-size: 30px;
  color: rgb(18, 18, 22);
  font-family: 'Proxima Nova Bold';
  line-height: 1.2;
  }
  p{
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(18, 18, 22);
  line-height: 1.2;
  margin-top: 30px;
  margin-bottom: 30px;
  }
  a{
    width: 50%;
  }
  img{
    width: 100%;
    margin-top: 48px;
  }
}
///////////////////////////////////////////////////////////
/* >magic                                                */
///////////////////////////////////////////////////////////
// Large devices (desktops, 992px and up)
// >desk
@media (min-width: 992px) and (max-width: 1199.98px) {

//main menu nav bar
.navbar-brand img {
  width: 100px;
}

.nav-link {
  font-size: 16px !important;
}

.callUs h3 {
  font-size: 16px !important;
}

.callUs a {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
}
// end! main menu nav bar

// footer
footer ul li a {
  font-size: 13px;
}

//block with arrows
.ourPlus{
  .arrows{
    background: none !important;
  }
}
//block services
.service{
  background: none !important;
  a{
    margin-left: 330px;
    width: 300px;
  }
  .textAndSq2{
    h3{

      margin-top: 130px;
      margin-left: 300px;
    }
    .square {

      margin-left: 900px;
    }
  }
   .textAndSq3{
    h3{

      margin-left: 620px;
    }
    .square {

      margin-left: 900px;
    }
  }
  .ourPartners{
    margin-bottom: 0px;
    a {
      margin: 0;
      width: auto;
    }
    img {
      width: 70%;
    }
  }
}

//block carousel
.owl-carousel{
  padding-left: 50px;
  padding-right: 50px;

}
.carousBlock{
  .owl-prev {
    left: 0;
    top: 50px;
  }
  .owl-next {
    right: 0;
    top: 50px;

  }

}


.blockBigContact .blockBigContactForm {
  left: 50%;
}





} // end! Large devices


// Medium devices (tablets, 768px and up)
// >tablet
@media (min-width: 768px) and (max-width: 991.98px){
//main menu nav bar
.callUs {
  margin-left: 0px;
  margin-top: 30px;
}

.mainMenu {
  .nav-link {
    margin-right: 0px;
  }
}

.nav-item {
  text-align: center;
  &:first-of-type {
    margin-top: 15px;
  }
}

.callUs a {
  margin: auto;
}
// end! main menu nav bar
///////////////////////////////////////////////////
.postav{
  h2{
    text-align: center;
  }
  form{
    text-align: center;
  }
}
///////////////////////////////////////////////
.imgsBlock{
  h3{
    text-align: center;
    font-size: 25px;
  }
}
//block with arrows
.ourPlus{
  .arrows{
    background: none !important;
  }
}

//block services
.service{
  background: none !important;
  a{
    margin-left: 200px;
    width: 300px;
  }
  .textAndSq2{
    h3{

      margin-top: 130px;
      margin-left: 20px;
    }
    .square {

      margin-left: 600px;
    }
  }
   .textAndSq3{
    h3{

      margin-top: 30px;
      margin-left: 340px;
    }
    .square {

      margin-left: 600px;
    }
  }
  .ourPartners{
    margin-bottom: 0px;
    a {
      margin: 0;
      width: auto;
    }
    img {
      width: 70%;
    }
  }
}

.owl-carousel{
  padding-left: 50px;
  padding-right: 50px;
}
.carousBlock{
  .owl-prev {
    left: 0;
    top: 80px;
  }

  .owl-next {
    right: 0;
    top: 80px;

  }
}

// footer
footer {
  .text-right {
    text-align: left !important;
    margin-top: 30px;
  }

  .miniFooter  {
    li {
      text-align: left;
    }
  }
}

.blockBigContact .blockBigContactForm {
  left: 50%;
}


} // end! Medium devices



// Small devices (landscape phones, 576px and up)
// >smart
@media (min-width: 576px) and (max-width: 767.98px) {
//main menu nav bar
.navbar-brand img {
  width: 100px;
}

.callUs {
  margin-left: 0px;
  margin-top: 20px;
}

.mainMenu {
  .nav-link {
    font-size: 16px;
    margin-right: 0px;
  }
}

.nav-item {
  text-align: center;
  &:first-of-type {
    margin-top: 15px;
  }
}

.callUs h3 {
  font-size: 16px !important;
}

.callUs a {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin: auto;
}

// end! main menu nav bar
///////////////////////////////////////////////////
.postav{
  h2{
    text-align: center;
    font-size: 35px;
  }
  form{
    text-align: center;
  }
}
///////////////////////////////////////////////
.imgsBlock{
  h3{
    text-align: center;
    font-size: 22px;
  }
  .imgStuff {
    min-height: 150px;
  }
}
.ourPlus{
  .arrows{
    background: none !important;
  }
  .littleImg1 {margin-top: 30px;}
  .littleImg4 {margin: auto;margin-bottom: 100px;}
  .littleImg5 {margin: auto; margin-bottom: 100px;}
}

//block services
.service{
  background: none !important;
  a{
    margin-left: 110px;
    width: 300px;
  }
  .textAndSq{
    h3{
      font-size: 19px;

    }
  }
  .textAndSq2{
    h3{

      margin-top: 133px;
      margin-left: 0px;
      font-size: 19px;
    }
    .square {

      margin-left: 450px;
    }
  }
.textAndSq3{
    h3{

      margin-top: 35px;
      margin-left: 250px;
      font-size: 19px;
    }
    .square {

      margin-left: 450px;
    }
  }
  .ourPartners{
    margin-bottom: 0px;
    a {
      margin: 0;
      width: auto;
    }
    img {
      width: 70%;
    }
  }
}

.owl-carousel{
  padding-left: 50px;
  padding-right: 50px;
}
.carousBlock{
  .owl-prev {
    left: 0;
    top: 90px;
  }

  .owl-next {
    right: 0;
    top: 90px;

  }
}

// footer
footer {
  .text-right {
    text-align: left !important;
    margin-top: 30px;
  }

  .miniFooter  {
    li {
      text-align: left;
    }
  }
}

footer ul li a {
  font-size: 13px;
}

footer img {
  margin-top: 88px;
}

.blockBigContact .blockBigContactForm {
  left: 50%;
}
} // end! Small devices


// Extra small devices (portrait phones, less than 576px)
// >mobi
@media (max-width: 575.98px) {

//main menu nav bar
.navbar-brand img {
  width: 100px;
}

.callUs {
  margin-left: 0px;
  margin-top: 20px;
}

.mainMenu {
  .nav-link {
    font-size: 16px;
    margin-right: 0px;
  }
}

.nav-item {
  text-align: center;
  &:first-of-type {
    margin-top: 15px;
  }
}

.callUs h3 {
  font-size: 16px !important;
}

.callUs a {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin: auto;
}
// end! main menu nav bar
///////////////////////////////////////////////////
.postav{
  h2{
    text-align: center;
    font-size: 25px;
  }
  form{
    text-align: center;
    input[type="text"]{
      margin-bottom: 20px;
    }
  }
}
///////////////////////////////////////////////////
.imgsBlock{
  h3{
    text-align: left;
    font-size: 18px;
  }
  .imgStuff {
    min-height: 120px;
  }
}
.ourPlus{
  .arrows{
    background: none !important;
  }
  .littleImg1 {margin-top: 60px;}
  .littleImg4 { margin: auto;margin-bottom: 100px;}
  .littleImg5 {margin: auto; margin-bottom: 100px;}
}

//block services
.service{
  background: none !important;
  a{
    margin-left: 0px;
    width: 250px;
  }
  h2{
    margin-bottom: 40px;
  }
  .serviceImg{
    margin-top: 40px;
    height: 160px;
    width: 180px;
  }
  .textAndSq{
    h3{
      font-size: 18px;

    }
  }
  .textAndSq2{
    h3{

      margin-top: 130px;
      margin-left: 0px;
      margin-right: 34px;
      font-size: 17px;
    }
    .square {

      margin-left: 235px;
    }
  }
.textAndSq3{
    h3{

      margin-top: 34px;
      margin-left: 65px;
      font-size: 18px;
    }
    .square {

      margin-left: 235px;
    }
  }
  .ourPartners{
    margin-bottom: 0px;
    a {
      margin: 0;
      width: auto;
    }
    img {
      width: 80%;
    }
  }
}


// footer
footer {
  padding-top: 0;

  h1 {
    margin-top: 30px;
  }

  .text-right {
    text-align: left !important;
  }

  .miniFooter  {
    li {
      text-align: left;
    }
  }
}

footer ul li a {
  font-size: 13px;
}

footer .miniFooter li span {
  font-size: 13px;
}

footer img {
  margin-top: 20px;
}

#ymaps1522419238378902684 {
  display: none !important;
}

.blockBigContact {
  height: auto;
  .blockBigContactForm {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    form {
      width: 100%;
      height: auto;
      .formGrid {
        grid-template-columns: 1fr;
      grid-row-gap: 18px;
      grid-template-areas:
        "."
        "."
        "textarea"
        "select"
        "."
      ;
      }
    }
  }
}

.mainFormStyle span {
  font-size: 13px;
}

.mainFormStyle p {
  font-size: 13px;
}

/////////////////////////////////////////////
//page armour start
.headerStuff{
  text-align: center;
  h2{
  font-size: 25px;
  }
  p{
  font-size: 15px;
  }
  a{
    width: 100%;
  }
  img{
    width: 100%;
    margin-top: 48px;
  }
}
} // end! Extra small devices
///////////////////////////////////////////////////////////
