@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700");
@font-face {
  font-family: 'BistroScript';
  src: url("../fonts/BistroScript.ttf"); }

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova ExBold';
  src: url("../fonts/ProximaNova-Extrabld.woff") format("woff"); }

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0; }

a {
  padding: 0;
  margin: 0; }
  a:hover {
    text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    padding: 0;
    margin: 0; }

.dontTouchMe {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.primaryBtn {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: white;
  line-height: 34px;
  text-align: center;
  background-color: #008dcf;
  display: block; }

.mainMenu {
  background-color: #fff;
  padding: 10px 0px;
  border-bottom: 2px solid #000; }
  .mainMenu .nav-link {
    font-size: 21px;
    font-family: "Roboto";
    font-weight: 600;
    color: #121215 !important;
    line-height: 1.2;
    margin-right: 20px; }
  .mainMenu .active a {
    color: #008dd2 !important; }
  .mainMenu .navbar-brand {
    margin-right: 60px; }

.callUs {
  margin-left: 20px; }
  .callUs h3 {
    font-size: 21.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #121215;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5px; }
  .callUs a {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: white;
    line-height: 34px;
    text-align: center;
    background-color: #008dcf;
    width: 190px;
    height: 34px;
    display: block; }

.postav {
  background-image: url("../img/1.png");
  background-position: center center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 50px; }
  .postav h2 {
    font-size: 48px;
    font-family: 'Proxima Nova ExBold';
    color: white;
    line-height: 1.2;
    text-align: right; }
  .postav form {
    margin-top: 50px; }
    .postav form input[type="text"] {
      background-color: white;
      width: 163px;
      height: 35px;
      border: none;
      font-size: 16px;
      font-family: "Roboto";
      text-align: center;
      color: #707070;
      line-height: 1.2;
      border-right: 6px solid #008dd2;
      margin-right: 6px; }
      .postav form input[type="text"]::placeholder {
        color: #0a0a0a !important; }
    .postav form input[type="submit"] {
      border: none;
      display: inline; }

.textAndSq h3 {
  font-size: 24px;
  font-family: 'Proxima Nova Bold';
  color: #121216;
  line-height: 1.2;
  position: absolute;
  margin-top: -50px;
  margin-left: 30px; }

.textAndSq .square {
  margin-top: -50px;
  margin-left: -5px;
  border-width: 7px;
  border-color: #00314a;
  border-style: solid;
  background-color: #0090cf;
  position: absolute;
  width: 25px;
  height: 25px; }

.arrows {
  padding-top: 100px;
  padding-bottom: 0px;
  background-image: url("../img/bg2.png");
  background-position: center center;
  background-repeat: no-repeat; }

.ourPlus {
  background-image: url("../img/bg1.png");
  background-position: center center;
  background-size: cover;
  min-height: 500px; }
  .ourPlus .bottomShadow {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 0;
    background: rgba(59, 59, 58, 0.9); }
  .ourPlus .littleImg {
    height: 210px;
    width: 220px;
    background-size: cover;
    position: relative;
    margin-left: 0px;
    margin: auto;
    margin-bottom: 100px; }
  .ourPlus .littleImg1 {
    background-image: url("../img/imgPlus1.png"); }
  .ourPlus .littleImg2 {
    background-image: url("../img/imgPlus2.png"); }
  .ourPlus .littleImg3 {
    background-image: url("../img/imgPlus3.png"); }
  .ourPlus .littleImg4 {
    background-image: url("../img/imgPlus4.png");
    margin-right: 50px; }
  .ourPlus .littleImg5 {
    background-image: url("../img/imgPlus5.png");
    margin-left: 50px; }
  .ourPlus h6 {
    font-size: 22px;
    font-family: "Roboto";
    color: white;
    line-height: 1.2;
    text-align: center; }

.imgsBlock h3 {
  font-size: 30px;
  font-family: 'Proxima Nova Bold';
  font-weight: 600;
  color: white;
  line-height: 1.2; }

.imgsBlock .imgStuff {
  padding-top: 10px;
  background-position: center center;
  background-size: cover;
  min-height: 180px; }

.imgsBlock .imgStuff1 {
  background-image: url("../img/img1.png"); }

.imgsBlock .imgStuff2 {
  background-image: url("../img/img2.png"); }

.imgsBlock .imgStuff3 {
  background-image: url("../img/img3.png"); }

.imgsBlock .imgStuff4 {
  background-image: url("../img/img4.png"); }

.imgsBlock .imgStuff5 {
  background-image: url("../img/img5.png"); }

.imgsBlock .imgStuff6 {
  background-image: url("../img/img6.png"); }

.service {
  background-color: #fff; }
  .service .arrows {
    background-image: url("../img/serviceBg2.png"); }
  .service .textAndSq h3 {
    margin-top: -30px;
    margin-left: 40px; }
  .service .textAndSq .square {
    margin-top: -30px;
    margin-left: 5px; }
  .service .textAndSq2 {
    margin-bottom: 228px; }
    .service .textAndSq2 h3 {
      font-size: 24px;
      font-family: 'Proxima Nova Bold';
      color: #121216;
      line-height: 1.2;
      position: absolute;
      margin-top: 133px;
      text-align: right;
      margin-left: 510px; }
    .service .textAndSq2 .square {
      margin-top: 135px;
      margin-left: 1080px;
      border-width: 7px;
      border-color: #00314a;
      border-style: solid;
      background-color: #0090cf;
      position: absolute;
      width: 25px;
      height: 25px; }
  .service h2 {
    font-size: 22px;
    font-family: "Roboto";
    color: #121216;
    line-height: 1.4;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 70px; }
  .service .serviceImg {
    height: 210px;
    width: 220px;
    background-size: cover;
    position: relative;
    margin-left: 0px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 70px; }
  .service .serviceImg1 {
    background-image: url("../img/service1.png"); }
  .service .serviceImg2 {
    background-image: url("../img/service2.png"); }
  .service .serviceImg3 {
    background-image: url("../img/service3.png"); }
  .service a {
    margin-left: 400px;
    width: 300px; }
  .service .ourPartners {
    margin-bottom: 0px; }
    .service .ourPartners a {
      margin: 0;
      width: auto; }
    .service .ourPartners img {
      width: 60%; }
  .service .textAndSq3 {
    margin-bottom: 120px; }
    .service .textAndSq3 h3 {
      font-size: 24px;
      font-family: 'Proxima Nova Bold';
      color: #121216;
      line-height: 1.2;
      position: absolute;
      margin-top: 30px;
      text-align: right;
      margin-left: 830px; }
    .service .textAndSq3 .square {
      margin-top: 33px;
      margin-left: 1080px;
      border-width: 7px;
      border-color: #00314a;
      border-style: solid;
      background-color: #0090cf;
      position: absolute;
      width: 25px;
      height: 25px; }

.carousBlock {
  background-image: url("../img/sliderBg.png");
  background-size: cover;
  padding-top: 50px; }
  .carousBlock .owl-next i, .carousBlock .owl-prev i {
    color: #fff;
    font-size: 28px; }
  .carousBlock .owl-prev {
    position: absolute;
    left: -40px;
    top: 80px; }
  .carousBlock .owl-next {
    position: absolute;
    right: -40px;
    top: 80px; }

/* >magic                                                */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-brand img {
    width: 100px; }
  .nav-link {
    font-size: 16px !important; }
  .callUs h3 {
    font-size: 16px !important; }
  .callUs a {
    font-size: 16px;
    height: 30px;
    line-height: 30px; }
  .ourPlus .arrows {
    background: none !important; }
  .service {
    background: none !important; }
    .service a {
      margin-left: 330px;
      width: 300px; }
    .service .textAndSq2 h3 {
      margin-top: 130px;
      margin-left: 300px; }
    .service .textAndSq2 .square {
      margin-left: 900px; }
    .service .textAndSq3 h3 {
      margin-left: 620px; }
    .service .textAndSq3 .square {
      margin-left: 900px; }
    .service .ourPartners {
      margin-bottom: 0px; }
      .service .ourPartners a {
        margin: 0;
        width: auto; }
      .service .ourPartners img {
        width: 70%; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .callUs {
    margin-left: 0px;
    margin-top: 30px; }
  .mainMenu .nav-link {
    margin-right: 0px; }
  .nav-item {
    text-align: center; }
    .nav-item:first-of-type {
      margin-top: 15px; }
  .callUs a {
    margin: auto; }
  .postav h2 {
    text-align: center; }
  .postav form {
    text-align: center; }
  .imgsBlock h3 {
    text-align: center;
    font-size: 25px; }
  .ourPlus .arrows {
    background: none !important; }
  .service {
    background: none !important; }
    .service a {
      margin-left: 200px;
      width: 300px; }
    .service .textAndSq2 h3 {
      margin-top: 130px;
      margin-left: 20px; }
    .service .textAndSq2 .square {
      margin-left: 600px; }
    .service .textAndSq3 h3 {
      margin-top: 30px;
      margin-left: 340px; }
    .service .textAndSq3 .square {
      margin-left: 600px; }
    .service .ourPartners {
      margin-bottom: 0px; }
      .service .ourPartners a {
        margin: 0;
        width: auto; }
      .service .ourPartners img {
        width: 70%; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand img {
    width: 100px; }
  .callUs {
    margin-left: 0px;
    margin-top: 20px; }
  .mainMenu .nav-link {
    font-size: 16px;
    margin-right: 0px; }
  .nav-item {
    text-align: center; }
    .nav-item:first-of-type {
      margin-top: 15px; }
  .callUs h3 {
    font-size: 16px !important; }
  .callUs a {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: auto; }
  .postav h2 {
    text-align: center;
    font-size: 35px; }
  .postav form {
    text-align: center; }
  .imgsBlock h3 {
    text-align: center;
    font-size: 22px; }
  .imgsBlock .imgStuff {
    min-height: 150px; }
  .ourPlus .arrows {
    background: none !important; }
  .ourPlus .littleImg1 {
    margin-top: 30px; }
  .ourPlus .littleImg4 {
    margin: auto;
    margin-bottom: 100px; }
  .ourPlus .littleImg5 {
    margin: auto;
    margin-bottom: 100px; }
  .service {
    background: none !important; }
    .service a {
      margin-left: 110px;
      width: 300px; }
    .service .textAndSq h3 {
      font-size: 19px; }
    .service .textAndSq2 h3 {
      margin-top: 133px;
      margin-left: 0px;
      font-size: 19px; }
    .service .textAndSq2 .square {
      margin-left: 450px; }
    .service .textAndSq3 h3 {
      margin-top: 35px;
      margin-left: 250px;
      font-size: 19px; }
    .service .textAndSq3 .square {
      margin-left: 450px; }
    .service .ourPartners {
      margin-bottom: 0px; }
      .service .ourPartners a {
        margin: 0;
        width: auto; }
      .service .ourPartners img {
        width: 70%; } }

@media (max-width: 575.98px) {
  .navbar-brand img {
    width: 100px; }
  .callUs {
    margin-left: 0px;
    margin-top: 20px; }
  .mainMenu .nav-link {
    font-size: 16px;
    margin-right: 0px; }
  .nav-item {
    text-align: center; }
    .nav-item:first-of-type {
      margin-top: 15px; }
  .callUs h3 {
    font-size: 16px !important; }
  .callUs a {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: auto; }
  .postav h2 {
    text-align: center;
    font-size: 25px; }
  .postav form {
    text-align: center; }
    .postav form input[type="text"] {
      margin-bottom: 20px; }
  .imgsBlock h3 {
    text-align: left;
    font-size: 18px; }
  .imgsBlock .imgStuff {
    min-height: 120px; }
  .ourPlus .arrows {
    background: none !important; }
  .ourPlus .littleImg1 {
    margin-top: 60px; }
  .ourPlus .littleImg4 {
    margin: auto;
    margin-bottom: 100px; }
  .ourPlus .littleImg5 {
    margin: auto;
    margin-bottom: 100px; }
  .service {
    background: none !important; }
    .service a {
      margin-left: 0px;
      width: 250px; }
    .service h2 {
      margin-bottom: 40px; }
    .service .serviceImg {
      margin-top: 40px;
      height: 160px;
      width: 180px; }
    .service .textAndSq h3 {
      font-size: 18px; }
    .service .textAndSq2 h3 {
      margin-top: 130px;
      margin-left: 0px;
      margin-right: 34px;
      font-size: 17px; }
    .service .textAndSq2 .square {
      margin-left: 235px; }
    .service .textAndSq3 h3 {
      margin-top: 34px;
      margin-left: 65px;
      font-size: 18px; }
    .service .textAndSq3 .square {
      margin-left: 235px; }
    .service .ourPartners {
      margin-bottom: 0px; }
      .service .ourPartners a {
        margin: 0;
        width: auto; }
      .service .ourPartners img {
        width: 80%; } }
